/* STYLE.CSS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --text-primary:         #1a1a1a;
  --text-secondary:       #555555;
  --text-light:           #ffffff;
  --text-primary-hover:   #808080;
  --text-secondary-hover: #b3b3b3;

  --bg:                   #F8F8F6;
  --bg-hover:             #EBECED;
  --bg-subtle:            #ffffff;

  --accent:               #353535;
  --accent-hover:         #6e6d6d;
}


* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Cantarell", sans-serif;
}

html {
  background: var(--bg);
  height: 100%;
  scroll-behavior: smooth;
}

main {
  flex: 1; /* pushes footer down */
}


p {
  color: var(--text-secondary);
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

a:hover {
  color: var(--text-primary-hover);
}






/* SECTION */

section {
  min-height: 100svh;
  margin: 4rem 10rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_title {
  font-size: 3rem;
  text-align: center;
}


.section__text__small {
  text-align: center;
}






/* TRANSITION */

a,
.button,
.button-icon {
  transition: all 200ms ease;
}





/* BUTTONS */

.button {
  font-weight: 600;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.button img {
  height: 30px;
}

.button-empty, 
.button-filled {
  border: var(--accent) 0.1rem solid;
}

.button-empty {
  background: var(--bg);
  color: var(--text-primary);
}

.button-filled {
  background: var(--accent);
  color: var(--text-light);
}

.button-empty:hover,
.button-filled:hover {
  cursor: pointer;
}

.button-empty:hover {
  background: var(--bg-hover);
}

.button-filled:hover {
  background: var(--accent-hover);
  border: var(--accent-hover) 0.1rem solid;
}





/* DESKTOP NAV */


#desktop-nav {
  padding: 6rem 0;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: #b5b5b5;
}

.name {
  font-size: 2rem;
}


.name a:hover {
  color: var(--text-primary);
}


.logo {
  height: 3rem;
}

.logo-name-container {
    display: flex;
    align-items: center;
    gap: 32px;
}




/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
  padding: 6rem 0;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--text-primary);
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--bg);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: left;
  font-size: 1.5rem;
  color: var(--text-primary);
}

.menu-links a:hover {
  color: var(--text-primary-hover);
}


.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}





/* PROFILE SECTION */

#profile {
  min-height: calc(100svh - 30vh);  /* subtract nav height */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

/* TODO FIX This */
.profile-pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  border-radius: 20%;
  object-fit: cover;
  margin: auto 0;
}

.profile-pic-container img{
  border-radius: 25%;
}

.profile_subtitle {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

#flag-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.profile-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}





/* ICON */

.icon {
  height: 2rem;
  border-radius: 50%;
}

.project-icon img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}






/* PROJECTS SECTION */

#projects {
  min-height: unset;
  padding: 14rem 0;
}

.project-tile {
  flex: 1;
  background: var(--bg-subtle);
  border-radius: 2rem;
  border: 0.1rem solid #DEE2E6;
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project-img-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.project-img {
  max-height: 300px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  display: block;
}

.project-title {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-secondary);
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.project-icon img {
  width: 2rem; 
  height: 2rem; 
  object-fit: contain;
}

.project-description {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: -1.5rem;
  color: var(--text-secondary);
}

.project-grid {
    display: grid;
    gap: 30px;
    padding: 20px;
    grid-template-columns: 1fr;
    max-width: 1300px; 
    margin: 0 auto;
    padding-top: 100px;
}

.project-link {
  text-decoration: none;
  color: inherit; 
  display: block; 
  border-radius: 2rem; 
  overflow: hidden; 
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project-link:hover {
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add a shadow */
}



/* CONTACT */

#contact {
  min-height: unset;
  padding: 10rem 0;
  justify-content: center;
  align-items: center;
}

.contact-info-box {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: var(--text-secondary) 0.1rem solid;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
  font-size: larger;
}

.email-icon {
  height: 2.5rem;
}




/* FOOTER SECTION */

footer {
  height: 26vh;
  margin-top: 4rem;
  padding: 2rem 0;
}

footer p {
  text-align: center;
}

footer p a {
  color: var(--text-secondary);
}

footer nav a:hover {
  color: var(--text-primary-hover);
}


footer a:hover {
  text-decoration: none;
  color: var(--text-secondary-hover);
}





/* App Showcase */

#app_showcase {
  min-height: calc(100svh - 30vh);  /* subtract nav height */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}


.app_showcase_container {
  display: flex;
  justify-content: center;
  gap: 120px;
  flex-wrap: wrap;
}

.app_showcase_screenshot {
  display: flex;
  height: 700px;
  justify-content: center;
  width: 400px;
  object-fit: cover;
  margin: auto 0;
}

.app_showcase_content {
  flex: 1; /* Make the right content take equal space */
  display: flex;
  flex-direction: column; /* Stack icon above text */
  align-items: center; /* Center icon horizontally */
  justify-content: center; /* Center content vertically with left column */
  gap: 20px;
  min-width: 300px; /* Minimum width for the right column */
  text-align: center; /* Center-align text */
}

.app_showcase_content_icon img {
  width: 120px; /* Adjust icon size */
  height: auto;
}

.app_showcase_content_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.triple-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.button-icon {
  font-weight: 400;
  font-size: 20px;
  line-height: 1; 
  padding: 1.0rem 1.5rem; 
  width: 180px; 
  border-radius: 4rem;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  gap: 0.5rem;
  box-sizing: border-box; 
  overflow: hidden;
}

.button-icon.btn-full-width {
  grid-column: 1 / -1;
  width: 100%;
  width: 360px + 2rem;
  flex-basis: 67%;
  text-align: center; 
  padding: 1.2rem 1.5rem; 
}


.button-icon img {
  height: 30px;
  width: auto; 
  filter: brightness(100);
}





/* Article */
#article {
  max-width: 820px;
  margin: 0 auto;
  padding: 24px 32px;
}

/* Sections */
#article .section {
  margin: 3.5em 0;
}

/* SPLIT LAYOUT */
.split {
  display: flex;
  gap: 48px;
  align-items: center;
}

/* Reverse layout option */
.split.reverse {
  flex-direction: row-reverse;
}

/* Children */
.split .media {
  flex: 1;
}

.split .content {
  flex: 1;
}

/* Images */
#article img {
  width: 90%;
  height: auto;
  border-radius: 16px;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#article .split img {
  max-width: 386px;
}

/* Typography */
#article h1, h2, h3 {
  line-height: 1.3;
}

#article h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5em;
}

#article h3, h2 {
  margin-top: 3em;
}

#article p {
  margin: 1em 0;
  line-height: 1.7;
}

#article a {
  color: #375a7f;
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s ease; /* Smooth color transition */
}

#article a:hover {
  color: #1f3a52; 
  text-decoration: none; /* Remove underline from links */
}

code {
  background: var(--accent);
  padding: 2px 2px;
  border-radius: 4px;
  font-size: 1.2em;
}

pre {
  width: 90%;
  margin: 2em auto; /* centers horizontally */
  margin-top: 4em;
  margin-bottom: 4em;
  background: var(--accent);
  color: #eee;
  padding: 0px;
  border-radius: 8px;
  overflow-x: auto;
}

#article ul {
  width: 90%;
  margin: 1.5em auto;
  list-style-position: inside;
  padding-left: 0;
  color: var(--text-secondary);
}

#article li {
  margin: 0.5em 0;
}

.meta {
  color: #666;
  font-size: 0.9em;
  margin-bottom: 4em;
}
